.container__footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #232427;
    padding: 25px;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 0, 0, 0.8);
    font-size: 12px;
}