<div id="container__small-cards" class="container__small-cards flex__content">
    <div class="container__small-card flex__content" *ngFor="let article of otherArticles">
        
        <a [routerLink]="['content', article.title]" class="flex__content">
            <img src="{{ article.imageLink }}" alt="{{ article.alt }}">
            <div class="container__small-card__description">
                <h3>{{ article.title }}</h3>
                <p>{{ article.preface }}</p>
            </div>
        </a>
    </div>
</div>