.container__content {
    width: 100%;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column; 
    justify-content: center;
    border: 1px solid #d1d0d0;
    border-radius: 5px;
}

.container__content > h1 {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px 0;
    box-shadow: 0px 10px 15px 0px rgba(185, 188, 201, 0.9);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(185, 188, 201, 0.9);
    -moz-box-shadow: 1px 1px 10px 1px rgba(185, 188, 201, 0.9);
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.container__content__article {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 90px;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
    border: 3px double #d1d0d0;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 0px rgba(130, 132, 141, 0.9);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(130, 132, 141, 0.9);
    -moz-box-shadow: 1px 1px 10px 1px rgba(130, 132, 141, 0.9);
}

.container__content__article > img {
    width: 100%;
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    box-shadow: 0px 10px 12px -13px rgba(107, 110, 122, 0.9);
    -webkit-box-shadow: 0px 10px 12px -13px rgba(107, 110, 122, 0.9);
    -moz-box-shadow: 0px 10px 12px -13px rgba(107, 110, 122, 0.9);
}

.container__content__article > p {
    margin-top:  30px;
    padding: 20px;
    text-align: justify;
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    text-indent: 30px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.container__content__article > p::first-letter {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px
}

@media screen and (min-width: 641px) {

    .container__content__article > img {
        width: 50%;
    }  
    
}